@avatar-blue: #87CEEB;
@light-pink: #FFB6C1;
@charcoal: #2F4858;
@dark-blue: darken(@avatar-blue,50%);
@honey-yellow: #F6AE2D;
@jade: #00A86B;
@light-green: lighten(@jade, 30%);
@dark-pink: #E75480;
@crimson: #990000;

div {
  background-color: @avatar-blue;
}
.bordered{
  border-style: double dashed double;
  border-color: @charcoal;
  border-width: thick;
}
#media{
  .bordered();
}
div.collapse{
  background-color: @light-pink;
}
div.carousel{
  position: relative;
  left: 400px;
  .bordered();
}
header{
  color: @dark-pink;
  font-size: 40px;
  position: relative;
  left: 50px;
}
footer{
  background-color: @crimson;
  color:@light-pink;
  position: relative;
  left:10px;
}
h1{
  color: @charcoal;
}
h2.media{
  position: relative;
  left: 510px;
}
h2.posts{
  position: relative;
  left: 450px;
}
#blog, #emailHelp {
  background-color: @dark-blue;
  color: @light-green;
}
.gallery{
  position: relative;
  left: 375px;
}
img.elements {
  background-color: @avatar-blue;
  position: relative;
  left: 100px;
}

audio{
  position: relative;
  top: 5px;
  .bordered;
}
