@avatar-blue: #87CEEB;
@light-pink: #FFB6C1;
@charcoal: #2F4858;
@queen-blue: #33658A;
@honey-yellow: #F6AE2D;

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata'); //'Crimson Pro' font

div {
  background-color: @avatar-blue;
}
header, h1{
  color: @charcoal;
  font-size: 40px;
}
/*
img.special {
  background-color: @avatar-blue;
  position: relative;
  left: 350px;
}

audio{
  position: relative;
  left: 350px;
}
iframe{ //adding border, padding, other adjustments to video
  width: 330px;
  border: 10px;
  position: relative;
  left: 350px;
  border-style: double dashed double;
  border-color: @charcoal;
  padding: 10px;
  margin: 10px;
}
*/
