<!DOCTYPE html>
<html>
<head>
<title>Error Most Basic Express Demo</title>
<link rel="icon" type="image/png" href="images/logo.png"/>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') -%>
<h1> <%=errorCode%> Error</h1>
<p> The resource you requested has not been found.</p>
<script src="/js/scripts.js"></script>
</body>
</html>
