
  <%- include('partials/header'); %>
  <%- include('partials/navbar', {posts: blog}); %>
<h1> <%=errorCode%> Error</h1>
<p> The resource you requested has not been found.</p>
<script src="js/scripts.js"></script>
<%- include('partials/footer'); %>
