<!--
Michael Ding Interest page, index.ejs
Avatar and Korra: Is the Sequel Overrated?
Topics – Computer Science
Mr. Gohde
November 20, 2020
-->

<%- include('global/header', {title: "Home"}); %>
<%- include('global/navbar', {posts: data}); %>

<br>
<div class="container">
  <div class="row">
    <header>Avatar and Korra: Is the Sequel Overhated?</header>
  </div>
  <br>
  <div class="row">
    <summary>Hi! If you couldn't tell, I'm a huge Avatar fan. I'm here to argue that Korra is not only just as good as the original, but better.</summary>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <img class="special" src="images/ATLAxLOK.jpg" alt="AvatarxLOK" style="width:325px;height:300px;">
    </div>
    <div class="col">
      <audio controls>
        <source src="images/LeavesfromtheVine.mp3" type="audio/mpeg" style="width:100px;height:250px;">
      </audio>    </div>
    <div class="col">
      <iframe width="300" height="250" src="https://www.youtube.com/embed/zTFYmgzlDSw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      The main characters of Avatar, and how they have look decades later in Korra!
    </div>
    <div class="col">
      A beautiful audio sample of Leaves from the Vine by Uncle Iroh.
       </div>
    <div class="col">
      A YouTube video comparing the original with the sequel.
    </div>
  </div>

</div>
<br><br><br>
<!--
<div class="default">
  <header>Avatar and Korra: Is the Sequel Overhated?</header>
  <br> <br>
  <summary>Hi! If you couldn't tell, I'm a huge Avatar fan. I'm here to argue that Korra is not only just as good as the original, but better.</summary>
  <br> <br>
  <table style="width:1200px">
    <thead>
      <tr class="main">
        <th align="center">Links</th>
        <th align="center">Media</th>
        <th align="center">TBD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="middle"><a href="https://michaelding21.github.io/avatar-korra/index.html">Home</a></td>
      </tr>
      <tr>
        <td align="center"><a href="https://michaelding21.github.io/avatar-korra/About.html">About Me page</a></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <table> <
            <tbody>
              <tr>
                <td align="middle">All Grown Up!
                </td>
              </tr>
              <tr>
                <td><img align="middle" src="ATLAxLOK.jpg" alt="Italian Trulli"></td>
              </tr>
              <tr>
                <td>

                  <p align="center">The four main characters of Avatar in the top row as adults in Korra in the second row</p>
                </td>
              </tr>
              <tr>
                <td align="middle">Is Avatar or Korra better?
                </td>
              </tr>
              <tr>
                <td><iframe width="400" height="300" src="https://www.youtube.com/embed/zTFYmgzlDSw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </td>
              </tr>
              <tr>
                <td>
                  <p align="center">YouTube video by Adam Does Movies</p>
                </td>
              </tr>
              <tr>
                <td align="middle">The best music of all time
                </td>
              </tr>
              <tr>
                <td><audio controls>
                    <source src="LeavesFromtheVine.mp3" type="audio/mpeg">
                  </audio></td>
              </tr>
              <tr>
                <td>
                  <p align="center">"Leaves from the Vine," by Uncle Iroh</p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>

  <br>
  <br>
  <br>
</div>
-->
<%- include ('global/footer'); %>
