div {
  background-color: #87CEEB;
}
.bordered {
  border-style: double dashed double;
  border-color: #2F4858;
  border-width: thick;
}
#media {
  border-style: double dashed double;
  border-color: #2F4858;
  border-width: thick;
}
div.collapse {
  background-color: #FFB6C1;
}
div.carousel {
  position: relative;
  left: 400px;
  border-style: double dashed double;
  border-color: #2F4858;
  border-width: thick;
}
header {
  color: #E75480;
  font-size: 40px;
  position: relative;
  left: 50px;
}
footer {
  background-color: #990000;
  color: #FFB6C1;
  position: relative;
  left: 10px;
}
h1 {
  color: #2F4858;
}
h2.media {
  position: relative;
  left: 510px;
}
h2.posts {
  position: relative;
  left: 450px;
}
#blog,
#emailHelp,
#comments,
#user_comment,
#comment_button,
#content_comment {
  background-color: #104b63;
  color: #42ffba;
}
.gallery {
  position: relative;
  left: 375px;
}
img.elements {
  background-color: #87CEEB;
  position: relative;
  left: 100px;
}
audio {
  position: relative;
  top: 5px;
  border-style: double dashed double;
  border-color: #2F4858;
  border-width: thick;
}
